* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 90vw;
  min-height: min-content;
  margin: 2% 2%;
  padding: 0.5rem;
}
nav {
  display: flex;
  justify-content: flex-end;
  text-align: center;
}
.navegador {
  display: flex;
  border: 5px solid black;
  background-color: rgb(34, 136, 97);
  color: white;
  padding: 5px;
  text-decoration: none;
}
main {
  width: 90vw;
  min-height: 200px;
  margin: 2% 2%;
  padding: 0.5rem;
}
.conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
/* .categorysearch {
  display: block;
} */
.logo {
  width: 80%;
  height: 80%;
}
.checkboxs {
  margin: 5% 5%;
  display: flex;
  justify-content: center;
}
#imgDetails {
  height: 100%;
  width: 100%;
}
#fotocarddetails {
  min-width: 100%;
}
.table {
  border-color: black;
  margin: 10px 0px;
}
.encabezadoTable{
  background-color:darksalmon;
  text-align: center;
}
footer {
  display: flex;
  margin: 2% 8%; 
  /* padding: 5px 80px; */
}
.diva {
  display: flex;
  justify-content: flex-start;
  padding: 2%;
}
.redes {
  width: 20px;
  height: 20px;
}
.leyenda{
  font-size:x-small;
}
.cohort {
  font-size:x-small;
  padding: 2%;
  text-align: center;
}
form {
  margin: 10px 5%;
  display: block;
}
form > fieldset > label {
  display: block;
}
fieldset {
  margin: 10px 2%;
  border: none;
  align-items: center;
}
/* submit boton */
#submit {
  width: 80px;
  height: 30px;
}
/* submit fieldset */
.submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MEDIA QUERYS */
@media screen and (max-width: 2561px) {
  header {
    width: 96vw;
    font-size:x-large;
  }
  .titulo {
    margin: -20px 20% 20px 10%;
    font-size: 4vh;
  }
  main {
    background-color: rgb(253, 203, 242);
    width: 95vw;
    min-height: 900px;
    font-size:x-large;
  }
  #search{
    height:70px;
  }
  #buttonsearch{
    padding: 10px 20px;
    font-size: x-large;
    background-color:darksalmon;
    color:black;
    border-color: darksalmon;
  }
  footer {
    margin: 2% 3%;

    display: flex;
    justify-content: space-between;
  }
  fieldset {
    margin: 20px 40%;
    align-items: center;
  }
  #submit {
    width: 150px;
    height: 90px;
  }
  #carddetails {
    margin: 20px 4px;
    min-width: 60%;
    min-height: 600%;
  }
  form {
    margin: 10px 15%;
    display: block;
  }
  .carousel-inner {
    max-height: 850px;
    object-fit: cover;
  }
  #botoncards{
    padding: 15px 25px;
    font-size:x-large;
    background-color:darksalmon;
    color:black;
    border-color: darksalmon;
  }
  .redes {
    width: 100px;
    height: 100px;
  }
  .leyenda{
    font-size:xxx-large;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin: 50px;
  }
  .cohort {
    font-size:xxx-large;
    padding: 2%;
    text-align:end;
  }
}
@media screen and (max-width: 1441px) {
  header {
    width: 96vw;
    font-size:large;
  }
  .titulo {
    margin: -20px 20% 20px 10%;
    font-size: 4vh;
  }
  main {
    background-color: rgb(253, 203, 242);
    width: 95vw;
    min-height: 900px;
    font-size: large;
  }
  #search{
    height:50px;
  }
  #buttonsearch{
    padding: 10px 20px;
    font-size: large;
    background-color:darksalmon;
    color:black;
    border-color: darksalmon;
  }
  footer {
    margin: 2% 3%;
    display: flex;
    justify-content: space-between;
  }
  .redes {
    width: 70px;
    height: 70px;
  }
  fieldset {
    margin: 20px 40%;
    align-items: center;
  }
  #submit {
    width: 120px;
    height: 70px;
  }
  #carddetails {
    margin: 20px 4px;
    min-width: 60%;
    min-height: 600%;
  }
  form {
    margin: 10px 15%;
    display: block;
  }
  .carousel-inner {
    max-height: 480px;
    object-fit: cover;
  }
  #botoncards{
    padding: 10px 20px;
    font-size: large;
    background-color:darksalmon;
    color:black;
    border-color: darksalmon;
  }
  .leyenda{
    font-size:larger;
    text-align: center;
    justify-content: center;
    align-content: center;
  }
  .cohort {
    font-size:larger;
    margin: 20px;
    text-align:end;
  }
}
@media screen and (max-width: 1025px) {
  header {
    width: 96vw;
    font-size: medium;
  }
  .titulo {
    margin: -20px 20% 20px 10%;
    font-size: 4vh;
  }
  main {
    background-color: rgb(253, 203, 242);
    width: 95vw;
    min-height: 800px;
    font-size: medium;
  }
  form {
    margin: 10px 15%;
    display: block;
  }
  footer {
    margin: 2% 3%;
    display: flex;
    justify-content: space-between;
  }
  .redes {
    width: 50px;
    height: 50px;
  }
  fieldset {
    margin: 20px 35%;
    align-items: center;
  }
  #submit {
    width: 90px;
    height: 43px;
  }
  .carousel-inner {
    max-height: 340px;
    object-fit: cover;
  }
  #botoncards{
    padding: 5px 10px;
    font-size: large;
    background-color:darksalmon;
    color:black;
    border-color: darksalmon;
  }
  .leyenda{
    font-size:larger;
    text-align: center;
    justify-content: center;
    align-content: center;
  }
  .cohort {
    font-size:larger;
    padding: 2%;
    text-align:end;
  }
}
@media screen and (max-width: 769px) {
  header {
    width: 96vw;
    font-size: larger;
  }
  .titulo {
    margin: -20px 20% 20px 10%;
    font-size: 4vh;
  }
  main {
    background-color: rgb(253, 203, 242);
    width: 95vw;
    min-height: 600px;
    font-size: medium;
  }
  #imgDetails {
    height: 100%;
    width: 150%;
  }
  .carousel-inner {
    max-height: 250px;
    object-fit: cover;
  }
  form {
    margin: 10px 15%;
    display: block;
  }
  footer {
    margin: 2% 3%;
    display: flex;
    justify-content: space-between;
  }
  fieldset {
    margin: 20px 30%;
    align-items: center;
  }
  #botoncards{
    padding: 10px 20px;
    font-size: medium;
    background-color:darksalmon;
    color:black;
    border-color: darksalmon;
  }
  .leyenda{
    font-size:medium;
    text-align: center;
    justify-content: center;
    align-content: center;
  }
}

@media screen and (max-width: 426px) {
  header {
    width: 95vw;
    font-size: medium;
  }
  main {
    background-color: rgb(253, 203, 242);
    width: 95vw;
    min-height: 400px;
    font-size: medium;
  }
  #search{
    height:40px;
  }
  #buttonsearch{
    padding: 5px 10px;
    font-size: medium;
    background-color:darksalmon;
    color:black;
    border-color: darksalmon;
  }
  form {
    margin: 10px 15%;
    display: block;
  }
  footer {
    margin: 2% 4%;
    display: block;
    justify-content: space-between;
  }
  fieldset {
    margin: 20px 15%;
    align-items: center;
  }
  #imgDetails {
    height: 100%;
    width: 200%;
  }
  .carousel-inner {
    max-height: 170px;
    object-fit: cover;
  }
  #botoncards{
    padding: 10px 20px;
    font-size: medium;
    background-color:darksalmon;
    color:black;
    border-color: darksalmon;
  }
  .leyenda{
    font-size:small;
    text-align: center;
    align-items: center;
    margin:10px;
  }
  .cohort {
    font-size:medium;
    /* padding: 2%; */
    text-align:center;
    margin:10px;
  }
  .diva {
    display: flex;
    justify-content: center;
    padding: 2%;
  }
  
}
@media screen and (max-width: 321px) {
  header {
    font-size: medium;
  }
  main {
    background-color: rgb(253, 203, 242);
    min-height: 400px;
    font-size: medium;
  }
  .carousel-inner {
    max-height: 130px;
    object-fit: cover;
  }
  #search{
    height:40px;
  }
  #buttonsearch{
    padding: 5px 10px;
    font-size: medium;
    background-color:darksalmon;
    color:black;
    border-color: darksalmon;
  }
  #botoncards{
    padding: 5px 10px;
    font-size: medium;
    background-color:darksalmon;
    color:black;
    border-color: darksalmon;
  }
  .leyenda{
    font-size:x-small;
  }
  .cohort {
    font-size:medium;
    padding: 2%;
    text-align: center;
  }
  .footer {
    display: block;
    margin: 2% 8%; 
    padding: 5px 80px;
  }
}
